*,
html,
body {
  margin: 0;
}

.fishtank__top {
  background: linear-gradient(90deg, #222, #444);
  height: 40px;
  width: 1024px;
}

.fishtank {
  background: center / 100% 100% no-repeat url('../images/fishtank.jpg');
  border-left: 6px solid rgb(38, 104, 148);
  border-right: 6px solid rgb(38, 104, 148);
  width: 1012px;
  height: 713px;
  margin: auto;
}

.fishtank__bottom {
  background: linear-gradient(90deg, #222, #444);
  height: 15px;
  width: 1024px;
}

#fishtank {
  position: relative;
  width: 100%;
  height: 100%;
}
